* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #333;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: calc(100vh + 50px);
  color: #fff;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container .header {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 15px;
  font-size: 28px;
}
.container .controls {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.container .controls > div {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .container .controls > div {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .container .controls > div {
    flex-basis: calc((100% / 2) - 15px);
  }
}
@media (min-width: 992px) {
  .container .controls > div {
    flex-basis: calc((100% / 3) - 30px);
  }
}
.container .controls > div span {
  font-size: 18px;
  font-weight: 500;
}
.container .controls > div select {
  font-family: "Cairo", sans-serif;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  width: 130px;
  outline: none;
}
.container .info {
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
  background-color: #009688;
  padding: 15px;
}
.container .info .city-name {
  font-size: 70px;
}
@media (max-width: 767px) {
  .container .info .city-name {
    font-size: 55px;
  }
}

.container .info .date-info {
  font-size: 20px;
}
.container .prayer-times {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .prayer-times .box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.footer {
  position: absolute;
  margin-top: 15px;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
}
@media (max-width: 767px) {
  .container {
    min-height: 1085px;
  }
}
